Handling missing values in epa-sea-level.csv

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("data/epa-sea-level.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      144 non-null    int64
 1   CSIRO Adjusted Sea Level  134 non-null    float64
 2   Lower Error Bound         134 non-null    float64
 3   Upper Error Bound         134 non-null    float64
 4   NOAA Adjusted Sea Level   31 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 5.8 KB

In [6]:
#checking shape of data before deleting 
df.shape

(144, 5)

In [7]:
#getting total number of null values in the data 
df.isnull().sum()

Year                          0
CSIRO Adjusted Sea Level     10
Lower Error Bound            10
Upper Error Bound            10
NOAA Adjusted Sea Level     113
dtype: int64

In [8]:
df_cleaned = df.dropna(subset=['CSIRO Adjusted Sea Level'])

In [9]:
df_cleaned.shape

(134, 5)

In [10]:
df_cleaned.to_csv('epa-sea-level-CLEANED.csv', index=False)